.countdown-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.countdown-countdown {
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #12141d;
}
.countdown-bottomimage {
  width: auto;
  bottom: -53px;
  height: auto;
  position: absolute;
}
.countdown-bottomimage1 {
  width: auto;
  bottom: -14px;
  height: auto;
  position: absolute;
}
.countdown-topimage {
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  position: absolute;
}
.countdown-rocket {
  top: 20%;
  left: 50%;
  width: auto;
  height: auto;
  position: absolute;
}
.countdown-group4 {
  top: 35%;
  left: 8%;
  width: 100%;
  height: 15%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.countdown-text {
  color: rgb(189, 68, 190);
  height: auto;
  position: absolute;
  font-size: 270%;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  text-shadow: -1px 0 #12141d, 0 1px #12141d, 1px 0 #12141d, 0 -1px #12141d;
}
.countdown-group2 {
  top: 50%;
  left: 0px;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.countdown-text2 {
  top: 20px;
  color: rgb(255, 255, 255);
  width: 500px;
  height: auto;
  position: absolute;
  font-size: 300%;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.countdown-text3 {
  left: 10px;
  color: rgb(199, 199, 199);
  height: auto;
  position: absolute;
  font-size: 100%;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.countdown-text4 {
  left: 97px;
  color: rgb(199, 199, 199);
  height: auto;
  position: absolute;
  font-size: 100%;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.countdown-text5 {
  left: 182px;
  color: rgb(199, 199, 199);
  height: auto;
  position: absolute;
  font-size: 100%;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.countdown-text6 {
  left: 270px;
  color: rgb(199, 199, 199);
  height: auto;
  position: absolute;
  font-size: 100%;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
