<div>
  <link href="./about.css" rel="stylesheet" />
  <section class="about-about">
    <section class="card-card card-root-class-name3">
      <main class="card-content"></main>
      <div class="card-container">
        <h1 class="card-header"><span>What is Vidnobi?</span></h1>
        <h1 class="card-text">
          <span>
            We are a better way to outsource video production. We help software
            companies produce videos at scale. We are a team of videographers,
            actors and social media marketers here to produce your videos in a
            top of the line studio.
          </span>
        </h1>
      </div>
    </section>
  </section>
</div>
