<div>
  <link href="./articles.css" rel="stylesheet" />
  <section class="articles-articles">
    <header class="articles-header">
      <span class="articles-section section-head">
        <span>Articles about us</span>
      </span>
      <h2 class="articles-heading section-heading">
        <span>We&apos;re the agency on everyone&apos;s lips</span>
        <br />
        <br />
      </h2>
    </header>
    <main class="articles-cards">
      <section class="article-card article-root-class-name">
        <main class="article-content">
          <header class="article-header">
            <h1 class="article-header1"><span>TechCrunch</span></h1>
          </header>
          <p class="article-description">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor.
            </span>
          </p>
          <div class="article-button">
            <a
              href
              target="_blank"
              rel="noreferrer noopener"
              class="article-link"
            >
              <p class="article-text"><span>Read -></span></p>
            </a>
          </div>
        </main>
      </section>
      <section class="article-card article-root-class-name">
        <main class="article-content">
          <header class="article-header">
            <h1 class="article-header1"><span>techeu</span></h1>
          </header>
          <p class="article-description">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor.
            </span>
          </p>
          <div class="article-button">
            <a
              href
              target="_blank"
              rel="noreferrer noopener"
              class="article-link"
            >
              <p class="article-text"><span>Read -></span></p>
            </a>
          </div>
        </main>
      </section>
      <section class="article-card article-root-class-name">
        <main class="article-content">
          <header class="article-header">
            <h1 class="article-header1"><span>sifted/</span></h1>
          </header>
          <p class="article-description">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor.
            </span>
          </p>
          <div class="article-button">
            <a
              href
              target="_blank"
              rel="noreferrer noopener"
              class="article-link"
            >
              <p class="article-text"><span>Read -></span></p>
            </a>
          </div>
        </main>
      </section>
    </main>
  </section>
</div>
