<div>
  <link href="./banner.css" rel="stylesheet" />
  <section class="banner-banner">
    <section class="card-card card-root-class-name">
      <main class="card-content"></main>
      <div class="card-container">
        <h1 class="card-header"><span>Grow with Video</span></h1>
        <h1 class="card-text">
          <span>
            Don't leave growth on the table! In the B2B world, everyone has a
            blog, but 👏 video 👏 is 👏 untapped.
          </span>
        </h1>
      </div>
    </section>
  </section>
</div>
