<div>
  <link href="./banner1.css" rel="stylesheet" />
  <main class="banner1-banner">
    <div class="banner1-header">
      <h2 class="section-heading">
        <span>
          Contact us and we'll get back in under 24 hours. Pinky promisse!
        </span>
      </h2>
    </div>
    <div class="banner1-buttons">
      <div class="banner1-get-started button">
        <a
          href="mailto:hey@vidmobi.io?subject=Let's Work Together"
          class="banner1-text"
        >
          <span>Email Us</span>
        </a>
      </div>
      <a href="tel:+201114444100" class="banner1-link">
        <div class="banner1-book-demo button">
          <span class="banner1-text1">
            <span>Book a call</span>
            <br />
          </span>
        </div>
      </a>
    </div>
  </main>
</div>
