<div>
  <link href="./faq1.css" rel="stylesheet" />
  <section class="faq1-faq">
    <header class="faq1-header">
      <span class="faq1-section section-head">
        <span>COmmon Questions</span>
      </span>
      <header class="faq1-header1">
        <h2 class="faq1-heading section-heading">
          <span>Not quite convinced?</span>
          <br />
        </h2>
        <p class="faq1-paragraph section-description">
          <span>
            Send any questions to hey@videodeck.co or jump on a quick call with
            us.
          </span>
        </p>
      </header>
    </header>
    <main class="faq1-accordion">
      <div class="faq-accordion faq-root-class-name">
        <div
          data-role="accordion-container"
          class="faq-element accordion-element"
        >
          <div class="faq-details">
            <span class="faq-text"><span>Can I design my own set?</span></span>
            <span data-role="accordion-content" class="faq-text01">
              <span>
                Yes, but within the limits of the available props. Before we
                shoot the video, we send you a few set ideas that you can choose
                from. For enterprise clients, we can design a set that’s
                completely bespoke and exclusive to that client.
              </span>
            </span>
          </div>
          <div data-role="accordion-icon">
            <svg viewBox="0 0 1024 1024" class="faq-icon">
              <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
            </svg>
          </div>
        </div>
        <div
          data-role="accordion-container"
          class="faq-element1 accordion-element"
        >
          <div class="faq-details1">
            <span class="faq-text02">
              <span>Are the videos created by AI?</span>
            </span>
            <span data-role="accordion-content" class="faq-text03">
              <span>
                Vidnobi does NOT use any AI software to generate the person
                speaking or at any step in the production. The video that you
                get is 100% created by actors, award-winning videographers,
                professional editors, and graphic designers. Each video goes
                through the hands of at least 5 professionals to make sure that
                the product you're getting is a stunning video with amazing
                visuals, sound design, crisp videography, and picture-perfect
                editing.
              </span>
            </span>
          </div>
          <div data-role="accordion-icon">
            <svg viewBox="0 0 1024 1024" class="faq-icon02">
              <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
            </svg>
          </div>
        </div>
        <div
          data-role="accordion-container"
          class="faq-element2 accordion-element"
        >
          <div class="faq-details2">
            <span class="faq-text04">
              <span>Do you do discounts for larger volumes?</span>
            </span>
            <span data-role="accordion-content" class="faq-text05">
              <span>
                We do; ordering our biggest package of 10 videos gives you 1500$
                off on each video, Youtube optimised thumbnails and 10
                shorts-style videos that you can use on social and free branded
                props across all 10 videos.
              </span>
            </span>
          </div>
          <div data-role="accordion-icon">
            <svg viewBox="0 0 1024 1024" class="faq-icon04">
              <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
            </svg>
          </div>
        </div>
        <div
          data-role="accordion-container"
          class="faq-element3 accordion-element"
        >
          <div class="faq-details3">
            <span class="faq-text06">
              <span>What kind of videos do you produce?</span>
            </span>
            <span data-role="accordion-content" class="faq-text07">
              <span>
                Product demo videos, how-to videos, support videos (we can turn
                your support knowledge base into videos), explainer
                videos(turning blog articles into videos), sales videos, client
                onboarding videos, employee onboarding explainer videos, and
                walkthrough videos.
              </span>
            </span>
          </div>
          <div data-role="accordion-icon">
            <svg viewBox="0 0 1024 1024" class="faq-icon06">
              <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
            </svg>
          </div>
        </div>
        <div
          data-role="accordion-container"
          class="faq-element4 accordion-element"
        >
          <div class="faq-details4">
            <span class="faq-text08">
              <span>What kind of videos do you not produce?</span>
            </span>
            <span data-role="accordion-content" class="faq-text09">
              <span>
                Animation videos, movies, high-production commercials, and
                physical product videos. We don’t produce any kind of videos
                that require shooting outside of the studio.
              </span>
            </span>
          </div>
          <div data-role="accordion-icon">
            <svg viewBox="0 0 1024 1024" class="faq-icon08">
              <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
            </svg>
          </div>
        </div>
        <div
          data-role="accordion-container"
          class="faq-element5 accordion-element"
        >
          <div class="faq-details5">
            <span class="faq-text10">
              <span>
                Amet, consectetur adipiscing elit mollit anim id est laborum.
              </span>
            </span>
            <span data-role="accordion-content" class="faq-text11">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id.
              </span>
            </span>
          </div>
          <div data-role="accordion-icon">
            <svg viewBox="0 0 1024 1024" class="faq-icon10">
              <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
            </svg>
          </div>
        </div>
      </div>
    </main>
  </section>
</div>
