<div>
  <link href="./our-services.css" rel="stylesheet" />
  <section class="our-services-our-services">
    <header class="our-services-header">
      <header class="our-services-left">
        <span class="our-services-section section-head">
          <span>Our Services</span>
        </span>
        <h2 class="our-services-heading section-heading">
          <span>
            Every B2B company should be a media company. Let’s make it happen
            together.
          </span>
        </h2>
      </header>
    </header>
    <main class="our-services-cards">
      <section class="cards-card cards-root-class-name">
        <img
          alt="image"
          src="https://uploads-ssl.webflow.com/62fe4c0cf9e612b304ecd08b/6321bae7a075f599aa32be9d_light-bulb_1f4a1.png"
          class="cards-image"
        />
        <h1 class="cards-text"><span>Features spotlight video series</span></h1>
      </section>
      <section class="cards-card cards-root-class-name1">
        <img
          alt="image"
          src="https://uploads-ssl.webflow.com/62fe4c0cf9e612b304ecd08b/632190d80caa32ea63a6680f_smiling-face-with-heart-eyes_1f60d.png"
          class="cards-image"
        />
        <h1 class="cards-text"><span>Bingeable YouTube videos</span></h1>
      </section>
      <section class="cards-card cards-root-class-name2">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="cards-image"
        />
        <h1 class="cards-text"><span></span></h1>
      </section>
      <section class="cards-card cards-root-class-name4">
        <img
          alt="image"
          src="https://uploads-ssl.webflow.com/62fe4c0cf9e612b304ecd08b/6321ba2c6667e7e5d5410e96_woman-technologist_1f469-200d-1f4bb.png"
          class="cards-image"
        />
        <h1 class="cards-text"><span>Clear support videos</span></h1>
      </section>
      <section class="cards-card cards-root-class-name3">
        <img
          alt="image"
          src="https://uploads-ssl.webflow.com/62fe4c0cf9e612b304ecd08b/6321baba2cd2b3a8f928265d_loudspeaker_1f4e2.png"
          class="cards-image"
        />
        <h1 class="cards-text"><span>Announcement videos</span></h1>
      </section>
    </main>
  </section>
</div>
