<div>
  <link href="./process.css" rel="stylesheet" />
  <section class="process-process">
    <header class="process-header">
      <header class="process-left">
        <span class="process-section section-head">
          <span>Our Process</span>
        </span>
        <h2 class="process-heading section-heading">
          <span>How the magic happens</span>
        </h2>
      </header>
    </header>
    <main class="process-cards">
      <section class="card-v2-card card-v2-root-class-name">
        <img
          alt="image"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Eo_circle_purple_white_number-1.svg/800px-Eo_circle_purple_white_number-1.svg.png"
          class="card-v2-image"
        />
        <h1 class="card-v2-text">
          <span>
            Customize the set. Choose one of the 1000s of set combinations or
            get something completely bespoke.
          </span>
        </h1>
      </section>
      <section class="card-v2-card card-v2-root-class-name1">
        <img
          alt="image"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Eo_circle_purple_white_number-2.svg/2048px-Eo_circle_purple_white_number-2.svg.png"
          class="card-v2-image"
        />
        <h1 class="card-v2-text">
          <span>
            Find the words. Send us a script or we’ll help you write one. We
            have tons of templates to help you create a compelling script.
          </span>
        </h1>
      </section>
      <section class="card-v2-card card-v2-root-class-name2">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="card-v2-image"
        />
        <h1 class="card-v2-text"><span></span></h1>
      </section>
      <section class="card-v2-card card-v2-root-class-name3">
        <img
          alt="image"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Eo_circle_purple_white_number-3.svg/800px-Eo_circle_purple_white_number-3.svg.png"
          class="card-v2-image"
        />
        <h1 class="card-v2-text">
          <span>
            Prepare relevant assets. Send us your brand kit and all the relevant
            assets that will help us in the post production process.
          </span>
        </h1>
      </section>
      <section class="card-v2-card card-v2-root-class-name4">
        <img
          alt="image"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Eo_circle_pink_white_number-4.svg/800px-Eo_circle_pink_white_number-4.svg.png"
          class="card-v2-image"
        />
        <h1 class="card-v2-text">
          <span>
            Ready, set, action! ✨We shoot, edit, and send you the video in
            under 10 business days or sooner.
          </span>
        </h1>
      </section>
    </main>
  </section>
</div>
