<div>
  <link href="./testimonials.css" rel="stylesheet" />
  <section class="testimonials-testimonials">
    <header class="testimonials-header">
      <header class="testimonials-left">
        <h2 class="testimonials-heading section-heading">
          <span>What clients say about us</span>
        </h2>
      </header>
    </header>
    <main class="testimonials-cards">
      <div class="testimonials-container">
        <section class="review-card review-root-class-name">
          <div class="review-stars">
            <svg viewBox="0 0 1024 1024" class="review-icon">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon02">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon04">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon06">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon08">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path>
            </svg>
          </div>
          <main class="review-content">
            <p class="review-quote">
              <span>
                They helped write the script, set the stage to fit our brand
                identity and delivered the video in four days from sending the
                script.
              </span>
            </p>
            <div class="review-author">
              <img
                alt="image"
                src="https://uploads-ssl.webflow.com/62fe4c0cf9e612b304ecd08b/632317e8a7d2e1a39640c17b_andrei-p-500.jpg"
                class="review-avatar"
              />
              <div class="review-details">
                <h1 class="review-author1"><span>Andrei Temneanu</span></h1>
                <label class="review-position">
                  <span>Marketing Manager</span>
                </label>
              </div>
            </div>
          </main>
        </section>
      </div>
      <div class="testimonials-container1">
        <section class="review-card review-root-class-name">
          <div class="review-stars">
            <svg viewBox="0 0 1024 1024" class="review-icon">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon02">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon04">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon06">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon08">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path>
            </svg>
          </div>
          <main class="review-content">
            <p class="review-quote">
              <span>
                Our team is extremely happy with how great professional these
                videos turned out and we would definitely work with Vidnobi
                again.
              </span>
            </p>
            <div class="review-author">
              <img
                alt="image"
                src="https://uploads-ssl.webflow.com/62fe4c0cf9e612b304ecd08b/63231fd0c4b9b7c57e359dd5_1653016883244-p-500.jpg"
                class="review-avatar"
              />
              <div class="review-details">
                <h1 class="review-author1"><span>David Bernal</span></h1>
                <label class="review-position">
                  <span>Growth Marketing Manager</span>
                </label>
              </div>
            </div>
          </main>
        </section>
      </div>
      <div class="testimonials-container2">
        <section class="review-card review-root-class-name">
          <div class="review-stars">
            <svg viewBox="0 0 1024 1024" class="review-icon">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon02">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon04">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon06">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path></svg
            ><svg viewBox="0 0 1024 1024" class="review-icon08">
              <path
                d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
              ></path>
            </svg>
          </div>
          <main class="review-content">
            <p class="review-quote">
              <span>
                Working with Vidnobi was an obvious decision for us when the
                minimum quote we've got from other agencies was $5k/video.
              </span>
            </p>
            <div class="review-author">
              <img
                alt="image"
                src="https://uploads-ssl.webflow.com/62fe4c0cf9e612b304ecd08b/63243a2dc415e10449cdb958_Untitled%20design%20(18)-p-500.png"
                class="review-avatar"
              />
              <div class="review-details">
                <h1 class="review-author1"><span>Sergiu</span></h1>
                <label class="review-position"><span>CMO</span></label>
              </div>
            </div>
          </main>
        </section>
      </div>
    </main>
  </section>
</div>
